{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
	<br>
	<center><h1>Herramientas Electricas</h1><hr></center>
	<div class="row">
	<img src="{% static 'files/bannerEle.jpg' %}" height="300px"
	    	width="930px">
	</div><hr>

	<form class="form-control">
		
		<div class="row">
			
				{% for electricas in docs_list %}
				<div class=col-md-4>
                    <br>
                    <div class="card">
                    	<div class="card-body">

					        <strong><p>{{ electricas.nombre }}</p></strong><hr>

					        <strong>Marca: </strong><p>{{ electricas.marca }}</p>

					        <strong>Modelo: </strong><p>{{ electricas.modelo }}</p>

					        <strong>Precio: </strong><p>{{ electricas.precio }}</p>

					        <strong>Fecha: </strong><p>{{ electricas.fecha }}</p>
					        
		                    <br>   

					        <p><a  class= "btn btn-primary btn-sm" href="{% url 'modificarEle' electricas.id  %}">Modificar</a></p>

					        <p><a  class= "btn btn-danger btn-sm" href="{% url 'eliminarEle' electricas.id  %}">Eliminar</a></p>

                    	</div>
                    </div>
				</div>
	    		{% endfor %}

		</div><br><br>
			    		<p><a  class= "btn btn-primary btn-sm" href="{% url 'agregarEle' %}">Agregar</a></p>
	</form>

</div>

{% endblock content %}